 @media (max-width: 1280px) {

    .st-hero.st-style2 h1 {
        font-size: 33px;
        font-weight: 600;
         margin-bottom: 0;
        font-family: 'Roboto Slab', serif;
    }
    .st-about-img-wrap {
        padding-right: 0px; 
    }

    .banner-text {
        
        right: 45px;
        bottom: 50px;
    }
}

@media (max-width: 1024px) {

    .st-hero.st-style2 {
        
        background-position: bottom;
        
    }
    .st-hero.st-style2 h1 {
        font-size: 38px;
       
    }
    .banner-text {
        
        right: 15px;
       
    }


}

@media (max-width: 820px) {

    .st-hero.st-style2 h1 {
        font-size: 50px;
    }

}

@media (max-width: 540px) {

    .st-hero.st-style2 h1 {
        font-size: 50px;
    }

.banner-text{
    rotate: -35deg;
    max-width: 374px;

}
.text-shadow{
    letter-spacing: 3px;
}

}

@media (max-width: 450px) {

    .st-hero.st-style2 {
        height: 55vh;
        
    }
    .banner-text {
        right: -14px;
        max-width: 243px;
        bottom: -29px;
    }
    .st-hero.st-style2 p {
        font-size: 12px;
    }  
    .st-hero.st-style2 h1 {
        font-size: 35px;
    }

}
@media (max-width: 377px) {

    .banner-text {
        
        max-width: 224px;
       
    }

    .st-hero.st-style2 h1 {
        font-size: 29px;
    }
    .st-hero.st-style2 p {
        font-size: 10px;
    }
}